<footer class="rodape">
  <div>
    <img src="assets/imagens/logo.png" alt="logo">
    <h1>Horário de atendimento: 8h - 20h (Segunda a Sábado)</h1>
    <h1>Desenvolvimento por Alura. Projeto fictício sem fins comercias</h1>
  </div>

  <div>
    <h3> Acesse nossas redes:</h3>
    <div class="container-icones">
      <img class="icones" src="assets/icones/whatsapp.png">
      <img class="icones" src="assets/icones/instagram.png">
      <img class="icones" src="assets/icones/twitter.png">
    </div>

  </div>
</footer>
